<ion-header>
  <!--<ion-navbar>-->
    <!--<ion-title>-->
      <!--Records-->
    <!--</ion-title>-->
  <!--</ion-navbar>-->

  <ion-toolbar>
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select [(ngModel)]="currentCategory" (ionChange)="refresh()">
      <ion-option *ngFor="let c of categories">{{c}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>

</ion-header>



<ion-content padding>

  <!--<div class="bar bar-subheader bar-positive">-->
    <!--<ion-item>-->
      <!--<ion-label>Category</ion-label>-->
      <!--<ion-select [(ngModel)]="currentCategory" (ionChange)="refresh()">-->
        <!--<ion-option *ngFor="let c of categories">{{c}}</ion-option>-->
      <!--</ion-select>-->
    <!--</ion-item>-->
  <!--</div>-->

  <ion-card *ngFor="let key of records | keys">
    <!--<ion-card-title></ion-card-title>-->
    <ion-card-header>
      <span class="hoverable" (click)="setTitleKey(key)" [hidden]="idForTitleChanging === key">
        {{records[key].title || "Default Title"}}
      </span>

      <input type="text" [hidden]="idForTitleChanging !== key"
             [(ngModel)]="titles[key]" (focusout)="changeTitle()" (keyup.enter)="changeTitle()"
             style="width: 100px"
        />

       <span class="right hoverable" >
        <ion-icon name="ios-remove-circle-outline" (click)="confirmDelete(key)"></ion-icon>
      </span>

       <span class="right hoverable" style="margin-right: 15px;">
         <ion-icon name="ios-folder-open-outline" (click) = "presentPopover(key)"></ion-icon>
      </span>
    </ion-card-header>

    <ion-card-content>
      <div style= "margin: auto; text-align: center; font-size: 2rem">
        <strong>
          {{formatDuration(records[key].duration)}}
        </strong>
      </div>

      <div>
        <small class="right time-format">
          {{key | dateFromMilli}}
        </small>
      </div>
    </ion-card-content>

  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Total time: <span style="float: right;">  {{formatDuration(totalTime)}}</span> </ion-title>
  </ion-toolbar>
</ion-footer>
