<ion-header>
  <ion-navbar>
    <ion-title>
      Records
    </ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-item>
      <ion-label>Choose category</ion-label>
      <ion-select [(ngModel)]="currentCategory">
      <ion-option value="{{categories[key].doc.name}}" *ngFor="let key of categories | keys">{{categories[key].doc.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>

</ion-header>



<ion-content padding>

  <ion-card *ngFor="let key of records | keys" [hidden]="currentCategory !== records[key].doc.category">
    <!--<ion-card-title></ion-card-title>-->
    <ion-card-header style="padding: 12px;">
      <span class="hoverable" (click)="openTitleDialog(records[key].id)">
        {{records[key].doc.title || "Default Title"}}
      </span>

       <span class="right hoverable" >
        <ion-icon name="ios-remove-circle-outline" (click)="confirmDelete(records[key].id)"></ion-icon>
      </span>

       <span class="right hoverable" style="margin-right: 15px;">
         <ion-icon name="ios-folder-open-outline" (click) = "showCategoryDropdown(records[key].id)"></ion-icon>
      </span>

      <ion-item [hidden]="recordIdSelectedForCategoryChanging !== records[key].id">
        <ion-label>Choose category</ion-label>
        <ion-select [(ngModel)]="categoryByRecordIdMap[records[key].id]" (ionChange)="changeRecordCategory(records[key].id)">
          <ion-option value="{{categories[key].doc.name}}" *ngFor="let key of categories | keys">{{categories[key].doc.name}}</ion-option>
        </ion-select>
      </ion-item>

    </ion-card-header>

    <ion-card-content>
      <div style= "margin: auto; text-align: center; font-size: 2rem">
        <strong>
          {{formatDuration(records[key].doc.duration)}}
        </strong>
      </div>

      <div>
        <small class="right time-format">
          {{records[key].doc.timestamp | dateFromMilli}}
        </small>
      </div>
    </ion-card-content>

  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="record-footer">
      Total time: {{formatDuration(totalTimeByCategoryMap[currentCategory])}}
      <span style="float: right">{{this.totalCountByCategoryMap[currentCategory] || 0}} records</span>
    </div>
  </ion-toolbar>
</ion-footer>
