<ion-header>
  <ion-navbar>
    <ion-title>
      Records
      <!--<ion-icon name="ios-options-outline" class="right hoverable" (click)="presentPopover($event)"></ion-icon>-->
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)" (press)="clearFilter()" [ngClass]="{'green': isFiltered}">
        <ion-icon name="ios-options-outline"></ion-icon>
      </button>
    </ion-buttons>


  </ion-navbar>

  <ion-toolbar>
    <ion-item>
      <ion-label>Choose category</ion-label>
      <ion-select [(ngModel)]="currentCategory" (ionChange)="changeCurrentCategory()">
        <ion-option value="{{categories[key].doc.name}}" *ngFor="let key of categories | keys">{{categories[key].doc.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>

</ion-header>



<ion-content padding>

  <ion-card *ngFor="let key of records | keys" [hidden]="currentCategory !== records[key].doc.category">
    <!--<ion-card-title></ion-card-title>-->
    <ion-card-header style="padding: 12px; position: relative">
      <div class="hoverable category-title" (click)="openTitleDialog(records[key].id)">
        {{records[key].doc.title || "Default Title"}}
      </div>

       <span class="right hoverable" >
        <ion-icon name="ios-trash-outline" danger (click)="confirmDelete(records[key].id)"></ion-icon>
      </span>

       <span class="right hoverable" style="margin-right: 15px;"  [hidden]="recordIdSelectedForCategoryChanging === records[key].id">
         <ion-icon name="ios-arrow-down-outline" (click) = "showCategoryDropdown(records[key].id)"></ion-icon>
      </span>

       <span class="right hoverable" style="margin-right: 15px;"  [hidden]="recordIdSelectedForCategoryChanging !== records[key].id">
         <ion-icon name="ios-arrow-up-outline" (click) = "showCategoryDropdown(records[key].id)"></ion-icon>
      </span>

      <ion-item [hidden]="recordIdSelectedForCategoryChanging !== records[key].id">
        <ion-label>Change category</ion-label>
        <ion-select [(ngModel)]="categoryByRecordIdMap[records[key].id]" (ionChange)="changeRecordCategory(records[key].id)">
          <ion-option value="{{categories[key].doc.name}}" *ngFor="let key of categories | keys">{{categories[key].doc.name}}</ion-option>
        </ion-select>
      </ion-item>

    </ion-card-header>

    <ion-card-content style="position: relative">
      <div style= "margin: auto; text-align: center; font-size: 2rem">
        <strong>
          {{formatDuration(records[key].doc.duration)}}
        </strong>
      </div>

      <div style="height: 26px; padding-top: 4px;">
        <!--<small class="time-format" style="position: absolute; left: 8px; height: 16px;">-->
          <!--{{records[key].doc.startTime | dateFromMilli}}-->
        <!--</small>-->

        <small class="time-format" style="position: absolute; right: 8px; height: 16px;">
          {{records[key].doc.timestamp | dateFromMilli}}
        </small>
      </div>
    </ion-card-content>

  </ion-card>

  <ion-fab right bottom>
    <button ion-fab mini (click)="switchToCalendar()"><ion-icon name="ios-calendar-outline"></ion-icon></button>
  </ion-fab>

</ion-content>

<!--
<ion-footer>
  <ion-toolbar>
    <div [ngClass]="{'record-footer': true}">
      Total time: {{formatDuration(totalTimeByCategoryMap[currentCategory])}}
      <span style="float: right">{{this.totalCountByCategoryMap[currentCategory] || 0}} records</span>
    </div>
  </ion-toolbar>
</ion-footer>
-->
