<ion-header>
  <ion-navbar>
    <ion-title>
      Records
      <!--<ion-icon name="ios-options-outline" class="right hoverable" (click)="presentPopover($event)"></ion-icon>-->
    </ion-title>

    <ion-buttons end>
      <ion-chip class="record-chip" [hidden]="!totalTime">
        <ion-icon name="ios-timer-outline" style="text-align: center;"></ion-icon>
        <ion-label>
          {{totalTime | duration}}
        </ion-label>
      </ion-chip>
      <ion-chip class="record-chip" [hidden]="!totalCount">
        <ion-icon name="ios-calculator-outline" style="text-align: center;"></ion-icon>
        <ion-label>
          {{totalCount}}
        </ion-label>
      </ion-chip>

      <button ion-button icon-only (click)="presentPopover($event)" [ngClass]="{'green': isFiltered}">
        <ion-icon name="ios-options-outline"></ion-icon>
      </button>
    </ion-buttons>


  </ion-navbar>

  <ion-toolbar style="position: relative">
    <button class="expand-button" ion-fab mini (click)="manageCategory()"><ion-icon name="ios-expand-outline"></ion-icon></button>

    <ion-item class="category-select">
      <ion-label>Choose Activity</ion-label>
      <ion-select [(ngModel)]="currentCategory" (ionChange)="changeCurrentCategory()">
        <ion-option value="{{categories[key].doc.name}}" *ngFor="let key of categories | keys">{{categories[key].doc.name}}</ion-option>
      </ion-select>
    </ion-item>

    <button class="calendar-button" ion-fab mini (click)="switchToCalendar()"><ion-icon name="ios-calendar-outline"></ion-icon></button>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <div *ngFor="let key of records | keys; let i = index;">
    <div *ngIf="records[key].doc.onNewDate" style="text-align: center;" [ngClass]="{'extra-top-padding': i > 0}">
      <ion-chip>
        <ion-label>{{records[key].doc.timestamp | dateFromMilli}}</ion-label>
      </ion-chip>
    </div>

    <ion-card (click)="toggleRecord(records[key].id)">

      <ion-card-header style="padding: 12px; position: relative">
        <div class="category-title" (click)="openTitleDialog($event, records[key].id, records[key].doc.title)">
          {{records[key].doc.title || "Default Title"}}
        </div>

        <span class="right green" style="margin-right: 15px; font-size: 2rem;" >
          <ion-icon name="ios-checkmark" [hidden]="!isSelected(records[key].id)"></ion-icon>
        </span>

        <span class="right" style="margin-right: 0px; font-size: 2rem; color: white" >
          <ion-icon name="ios-checkmark"></ion-icon>
        </span>

      </ion-card-header>

      <ion-card-content style="position: relative" >
        <div style= "margin: auto; text-align: center; font-size: 2rem">
          <strong>
            {{records[key].doc.duration | duration}}
          </strong>
        </div>
      </ion-card-content>

    </ion-card>
  </div>


  <!--<ion-fab left top edge>-->
  <!--</ion-fab>-->


  <!--<ion-fab right top edge [hidden]="!records.length">-->
  <!--</ion-fab>-->

  <!--<div style="height: 50px;"></div>-->

</ion-content>

<!--[hidden]="!records.length"-->
<ion-footer>
  <ion-toolbar style="padding: 0px;">

    <ion-row>
      <ion-col style="padding-top: 12px;">

        <div class="footer-text">
          <!--<ion-icon name="ios-square-outline"></ion-icon>-->

          <ion-row>
            <ion-col class="records-selected">

              <div class="select-text">
                     {{selectedRecords.length}} selected
              </div>

              <!--placeholder-->
              <div style="display: inline-block; opacity: 0;"></div>

              <!--<ion-toggle (ionChange)="toggleAll()" [(ngModel)]="selectAll" class="select-toggle"></ion-toggle>-->

              <ion-icon name="ios-done-all-outline" (click)="toggleAll()" [ngClass]="{'select-toggle': true, 'green': selectAll}"></ion-icon>

            </ion-col>
          </ion-row>
        </div>

      </ion-col>

      <ion-col style="position: relative">

        <div [ngClass]="{'footer': selectedRecords.length == 0, 'trash-icon': true}">
          <ion-icon name="md-trash" class="dark" (click)="confirmDelete()"></ion-icon>
        </div>

        <ion-item no-lines [ngClass]="{'footer': selectedRecords.length == 0, 'folder-item': true}">
          <ion-label class="folder-icon">
            <ion-icon name="md-folder" class="dark"></ion-icon>
            Change Activity
          </ion-label>
          <ion-select style="color:white;" [(ngModel)]="newCategory" (ionChange)="changeRecordsCategory()" [disabled]="selectedRecords.length == 0">
            <ion-option value="{{categories[key].doc.name}}" *ngFor="let key of categories | keys">{{categories[key].doc.name}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>


    </ion-row>

  </ion-toolbar>
</ion-footer>
