// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


//general
.right {
  float: right;
}

.hoverable:hover {
  opacity: 0.5;
}

// home page
.buttons-row{
  text-align: center;
}


.main-timer-container {
  text-align: center;
  font-size: 3rem;
  color: #171717;
}

.main-button-container{
  text-align: center;
  margin-top: 20px;
  display: inline-block;
  font-size: 2rem;
}


//about page
.category-list {
  list-style-type: none;
  overflow: hidden;
  padding: 0;

  input {
    width: 100px;
  }

  li:not(:first-child) {
    padding-top: 20px;
  }
}
