// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//general

@font-face {
  font-family: "SegoePrint";
  src: url("../assets/fonts/SegoePrint.ttf");
}

body, span, button, h1, h2, h3, h4, h5, h6, div {
  font-family: 'SegoePrint' !important;
}

.right {
  float: right;
}

.hoverable:hover {
  opacity: 0.5;
}

// timer page
.buttons-row{
  text-align: center;
}

.main-button {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 100%;
}

.main-timer-container {
  background-color: #fff;
  border-radius: 10px;
  color: #1c1c1c;
  font-size: 12vw;
  margin: auto;
  padding: 10px;
  text-align: center;
  box-shadow: 1px 2px 5px #ddd;
 }

.main-button-container{
  text-align: center;
  display: inline-block;
  font-size: 2rem;
}


//records
.category-list {
  list-style-type: none;
  overflow: hidden;
  padding: 0;

  input {
    width: 100px;
  }

  li:not(:first-child) {
    padding-top: 20px;
  }
}

.category-selected {
  color: green;
}

.time-format {
  color: #666;
  padding-top: 12px;
  padding-bottom: 12px;
}

.category-popover{
  padding: 10px;
}

.record-footer{
  //box-shadow: 1px 2px 5px #ddd;
  //background-color: white;
}

//settings
.category-edit > input {
  &::-webkit-input-placeholder {
    color: #1c1c1c;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: #1c1c1c;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    color: #1c1c1c;
  }

  &:-ms-input-placeholder {
    color: #1c1c1c;
  }
}

.change-category-header {
  color: black;
  font-size: 22px;
}
